#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-signed {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Paragraph {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Image_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -12px;
  margin-top: -14px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 #s-policy {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-4504737a-6c18-4cad-a80e-09b3bc3ee603 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}