#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Panel_8 > .valign {
  vertical-align: top;
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Panel_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 0px 0px 2px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 25px;
  width: 13px;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 2px 2px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  height: 25px;
  width: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 0px 0px 2px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 25px;
  width: 13px;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 2px 2px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  height: 25px;
  width: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 23px;
  width: 136px;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Line_1 {
  stroke-width: 4px;
  stroke: #FF0000;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Line_1 {
  stroke-width: 4px;
  stroke: #FF0000;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_21 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_23 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_24 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_25 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_26 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_27 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_28 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_29 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_30 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_31 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_32 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_33 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_34 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_35 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_36 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_37 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_38 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_39 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_40 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Panel_9 > .valign {
  vertical-align: top;
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_27 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-wrong_1 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-wrong_2 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_22 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Paragraph_41 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Panel_2 > .valign {
  vertical-align: middle;
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_1 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_9 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_8 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-signed {
  -ms-transform: rotate(0.0deg);
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-752e7899-846b-4d9e-be3b-145d0cdea8d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}