{% extends 'use/Bas.html' %}


{% load crispy_forms_tags %}

{% block  body %}



 <div id="about1" class="col-2 "> <br/><br/><br/>
        <h1 class="text-danger">why us ?</h1>
        <p>When u decide to travel, u often get stuck in some questions like um ...where to go?
        Duration of stay? Plan? Which agency? Best offer? And of course If the place is worth visiting & if the company arrangements & services are pretty good!
        <b>You tour</b> website can answer those questions and provide different offers & plans matching different people desires &
        Budget.</p>
        </div>
        <div id="about2" class="col-2"> <br/><br/><br/>
        <h1 class="text-danger">who  us ?</h1>
        <p >we are a 10 student team member developed this site so companies can easly market thier programs and tours.
        and user easy to cheack and choose best offer</p>
        </div>
        <div id="about3" class="col-2" ><h1>contact us </h1>
		<br/>
		<ul class="list-unstyled " >
		<li><a href="#" class="face col"><i class="fab fa-facebook" ></i></a></li>
		<li><a href="#" class="face col" ><i class="fab fa-twitter" ></i></a></li>
		<li><a href="#" class="face col"><i class="fab fa-google-plus" ></i></a></li>
		<li><a href="#" class="face col"><i class="fas fa-phone" ></i></a></li>
        </ul>
		</div>





        <!-- FOOTER -->

      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018-2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>













{% endblock %}