{%  extends 'use/Bas.html' %}
{%  load staticfiles %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
<script src="{% static  'js/jquery-3.3.1.min.js.' %}"></script>
<script src="{% static  'js/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static  'js/bootstrap.min.js' %}"></script>
<script src="{% static  'js/mine.js' %}" type="text/javascript"></script>




<section class="account-edit m-4 font-weight-bold">
    <div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active My-travel" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">My Travels</a>
        <a class="nav-link My-travel" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-track" role="tab" aria-controls="v-pills-home" aria-selected="true">Tracking</a>

    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="row">
              <div class="col">
                  <a href="#"><img src="image/sharm-136416228161802601.jpg" class="image-edit"></a>
              </div>
          </div>

      </div>

  <div class="tab-pane fade" id="v-pills-track" role="tabpanel" aria-labelledby="v-pills-profile-tab">
      <div class="table-travles">
            <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Check list</th>
                          <th scope="col">Date</th>
                          <th scope="col">Places</th>
                          <th scope="col">Time</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"><input type="checkbox"></th>
                          <td>6-2-2018</td>
                          <td>Place 1</td>
                          <td>10:00 AM</td>

                        </tr>
                        <tr>
                          <th scope="row"><input type="checkbox"></th>
                          <td>6-2-2018</td>
                          <td>Place 2</td>
                          <td>1:00 PM</td>

                        </tr>
                        <tr>
                          <th scope="row"><input type="checkbox"></th>
                          <td>6-2-2018</td>
                          <td>Place 3</td>
                          <td>4:00 PM</td>

                        </tr>
                      </tbody>
                    </table>
              </div>
  </div>

      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><button class="btn btn-primary">no</button></div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
  </div>
</div>

    </section>

{% endblock %}