.navbar {
	background-color:#333333;
    position: relative;
    top: 0px;
    

}

.navbar-toggler{
	background-color: #ffffff;
	cursor: default;
}
.navbar-brand{
	color:#ff0000;
	font-family: brush script mt ;
	font-size:45px;
	padding: 15px;
	font-weight: bold;
	margin: 10px;
	text-align: center; 
}


.navbar-toggler-icon{
	background-color: #000000;}

.navbar-text{
	
	
	font-family: 'ABeeZee';
 
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}
.nav-item{
	padding: 15px;
	text-align: center; 
margin-top:8px;
font-size: 18px;
	 
}



#search-form{
	position: absolute;
	right: 20px;
	top: 15px;
}

#search-btn{
	
}

body{
	background-image: url("../images/orig.jpg");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

label{
	color: white;
}

#search-input{
	margin-right: 0px;
	padding-right: 20px;

}
.form-div{

	width: 100%;
	height: 16vh;
	background-color:black;
	opacity: 0.65;
	top: 100px;
}

.form-inline{
	padding:10px;
}
.mr-sm-2{
padding-left:20px;
	margin-left: 20px;
}

.input-from{
	padding-left:20px;
	margin-left: 105px;
}

.input-to{
	margin-left: 31px;
}

.form-labels{
	padding-left :20px;
	padding-right: 20px;
}

#submit-form{
	margin-left: 160px;
	margin-top: 10px;
}


.row1{
	margin: 20px;
	margin-left: 130px;
	padding:20px;
	padding-bottom: 20px;
}

.row2{
	margin: 20px;
	margin-left: 130px;
	padding:20px;
	margin-bottom: 20px;
}
.tour-item{
	
	height: 150px;
	text-align: center;
	width: 80%;
	align-self: center;

}

#first-tour{
	background-image: url("../images/1.jpg");
	background-repeat: no-repeat;
  
  background-position: center;
   border-radius: 20px;
}

#second-tour{
	background-image: url("../images/2.jpg");
background-repeat: no-repeat;
  
  background-position: center;
  border-radius: 20px;	
}

#third-tour{
		background-image: url("../images/3.jpg");
background-repeat: no-repeat;
  
  background-position: center;
  border-radius: 20px;
}

#fourth-tour{
	background-image: url("../images/4.jpg");
background-repeat: no-repeat;
  
  background-position: center;
  border-radius: 20px;
 
}

#fifth-tour{
	background-image: url("../images/5.jpg");
background-repeat: no-repeat;
  
  background-position: center;
 border-radius: 20px;
}

#sixth-tour{
	background-image: url("../images/6.jpg");
background-repeat: no-repeat;
  
  background-position: center;
 border-radius: 20px;

}

#part-one{
	margin-bottom: 0px;

}


#part-two{
	background-color: black;
	width: 80%;
	height: 40%;
	opacity: 0.78;	
	margin-bottom: 20px;
	margin-top: 0px;
}

h4{
color: #FFD700; 
	
	font-family: 'ABeeZee';
	align-self: center;
	text-align: center;
	}

	.two-parts{
	}


	{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  

  border: none;
  cursor: pointer;
  opacity: 0.8;
 
  

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
  margin-top: 25px;
  border-radius: 15px;
  padding: 15px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border: black solid;

}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
 
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;

}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.75;
   border-radius: 20px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: black;
  color: white;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.popup-text{
	color: black !important;
	font-family: 'ABeeZee';
}

#login{
	font-family: 'ABeeZee';
}

.user-popup {
  display: none;
  position: fixed;
  right: 15px;
  margin-top: 25px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
  border-radius: 15px;
}

.userlogin-btn{


  border: none;
  cursor: pointer;
  opacity: 0.9;
 padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: f1f1f1;
  color:black;
}
