#s-27a93963-6176-423d-8602-5ea0fc559450 #s-Panel_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 12px 12px 12px 12px;
}
#s-27a93963-6176-423d-8602-5ea0fc559450 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-27a93963-6176-423d-8602-5ea0fc559450 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-27a93963-6176-423d-8602-5ea0fc559450 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-27a93963-6176-423d-8602-5ea0fc559450 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-27a93963-6176-423d-8602-5ea0fc559450 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-27a93963-6176-423d-8602-5ea0fc559450 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-27a93963-6176-423d-8602-5ea0fc559450 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-27a93963-6176-423d-8602-5ea0fc559450 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-27a93963-6176-423d-8602-5ea0fc559450 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}