#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Line_2 {
  rotation: 90.0;
  margin-left: 201px;
  margin-top: -201px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Title_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Line_1 {
  rotation: 90.0;
  margin-left: 157px;
  margin-top: -157px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-policy {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}