#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Panel_3 > .valign {
  vertical-align: middle;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Text_1 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Text_2 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Text_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Text_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Title_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Title_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Line_1 {
  stroke-width: 6px;
  stroke: #FF0000;
  -ms-transform: rotate(90.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Line_1 {
  stroke-width: 6px;
  stroke: #FF0000;
  -ms-transform: rotate(90.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Title_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 #s-policy {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-5efaa79a-cf60-4586-b825-3f5042bab117 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}