#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_7 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: -1px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Circle {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Circle_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Circle_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_11 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: -1px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}