#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Panel_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Text_2 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  height: calc(100% + 0px);
  width: calc(100% + -40px);
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Label_29 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 39px;
  width: 143px;
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 39px;
  width: 143px;
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Button_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 39px;
  width: 143px;
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Button_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 39px;
  width: 143px;
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Panel_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_7 {
  -ms-transform: rotate(180.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Panel_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 3px 3px 3px 3px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Text_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Paragraph_1 {
  border-top-width: 4px;
  border-top-style: dotted;
  border-top-color: #FF0000;
  border-right-width: 4px;
  border-right-style: dotted;
  border-right-color: #FF0000;
  border-bottom-width: 4px;
  border-bottom-style: dotted;
  border-bottom-color: #FF0000;
  border-left-width: 4px;
  border-left-style: dotted;
  border-left-color: #FF0000;
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Circle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Circle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Panel_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_11 {
  -ms-transform: rotate(180.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Panel_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 3px 3px 3px 3px;
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 #s-Text_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c7028ed6-9829-4728-a08e-2f8f76d492c9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}